body {
  background-color: #808080;
}


div {
  font-family: "cosmic sans";
  background-color:  #facade;
  width: 700px;
  padding: 20px;
  margin: 20px;
  font-size: 20px;
  border-radius:10px;
}


.special  {
  font-family: "Fantasy";
  background-color:  #03fcd3;
  width: 800px;
  padding: 20px;
  margin: 20px;
  font-size: 25px;
  border-radius:15px;
}
